
<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('admin_index') }}">Produits</a>
        </li>

    </ul>
</div>

<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('admin_index') }}">Clients</a>
        </li>
        <li>
            <a href="{{ path('admin_index') }}">Commandes</a>
        </li>
    </ul>
</div>