{% extends 'base.html.twig' %}
{% block body %}
    <br> <br> <br>
    <center>

        <h1 > Congratulation! </h1>
        <h1>
            Check your Mail. In a few minutes, an E-Mail of confirmation will be send
        </h1>
    </center>

    <br><br><br>
{% endblock %}
