<div class="copy-agile-right text-center pt-lg-4 pt-3">
    <p>
        © 2018 Gym-Plus. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
    </p>
    <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
        <ul>
            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fas fa-envelope"></span></a></li>
            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
        </ul>
    </div>
</div>
